<%- include('components/header') -%>    

<h4>Stok</h4>


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

 <%- include('components/footer') -%>    
